{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Donor Available</title>
{% endblock %}


{% block content %}
    <br><br><br>


    <div id="addEventForm">

    {% for user in match %}

        <div style="background: linear-gradient(rgba(151,165,154,0.33), #d1d9ff);font: bolder;
        font-size: 16px;color: #19b212;padding-left: 2%;
         padding-right: 2%;">
            <p><label>Org Name:  </label><a href="{{ user.get_absolute_url }}"> {{ user.org_name }}</a></p>
            <p><label>Email:  </label><a href="{{ user.get_absolute_url }}"> {{ user.email }}</a></p>
            <p><label>Telephone:  </label><a href="{{ user.get_absolute_url }}"> {{ user.telephone }}</a></p>
        </div>

    {% endfor %}

    <div>
        <span>Searching Found: {{ match.count }}</span>
    </div><br>


{% endblock %}