{% extends 'index.html' %}
{% load static %}

{% block title %}<title>Profile</title>{% endblock %}

{% block content %}

{% if user.logo %}
<a href="test.html">
	 <img src="{{ MEDIA_URL }} {{ user.logo.url }}" alt="CSGO Howl" style="float:right;width: 50px;height: 50px;align-items: center;margin-right: 2%">
	 </a>
{% endif %}


<div class="info">
    <a href="#">Org name: {{ user.org_name }}</a>
    <p><span>Telephone: </span>{{ user.telephone }}</p>
    <p><span>Position: </span>{{ user.postion }}</p>
    <p><span>Email: </span>{{ user.email }}</p>
    <p><span>Fax: </span>{{ user.fax }}</p>
    <p><span>Permit Number: </span>{{ user.permit_number }}</p>
    <p><span>Address: </span>{{ user.address }}</p>
    <p><span>P.O Box: </span>{{ user.p_o_box }}</p>
    <p><span>Whatsapp: </span>{{ user.whatsapp }}</p>
    <p><span>Org Type: </span>{{ user.org_types }}</p>
    <p><span>Goals: </span>{{ user.goals }}</p>
    <p><span>Board Members: </span>{{ user.board_members }}</p>
    <p><span>State: </span>{{ user.state }}</p>
    <p><span>City: </span>{{ user.city }}</p>
    <p><span>Projects: </span>{{ user.projects }}</p>
    <p><span>Info: </span>{{ user.info }}</p>
</div>

    <style>
    .info a{
        text-align: center;
        margin-left: 20px;
        font-size: 16px;
        color: #4fc7a4;
    }
    .info p{
        margin-left: 20px;
    }

    .social-icons {
          text-align: center;
          }
        .social-icons li {
          display:inline-block;
          list-style-type:none;
          -webkit-user-select:none;
          -moz-user-select:none;
          }
        .social-icons li a {
          border-bottom: none;
          }
        .social-icons li img {
          width:50px;
          height:50px;
          margin-right: 20px;
        }
    </style>

     <p style="margin-left: 20px;"><span>Org Link </span>{{ user.org_links }}</p>
    <ul class="social-icons">
        {% if user.facebook %}
            <li><a href="{{ user.facebook }}"><img src='{% static 'image/fb.png' %}' /></a></li>

        {% endif %}

        {% if user.twitter %}
            <li><a href="{{ user.twitter }}"><img src='{% static 'image/twt.png' %}' /></a></li>
        {% endif %}

        {% if user.youtube %}
            <li><a href="{{ user.youtube }}"><img src='{% static 'image/you.png' %}' /></a></li>
        {% endif %}

        {% if user.website %}
            <li><a href="{{ user.website }}"><img src='{% static 'image/web.png' %}' /></a></li>
        {% endif %}
    </ul>


{% endblock %}