{% extends 'index.html' %}
{% load static %}

{% block title %}<title>Profile</title>{% endblock %}


{% block content %}

<link href="{% static 'profile/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                {% if user.photo %}
                    <div class="avatar">
                        <img alt="" src="{{ MEDIA_URL }} {{ user.photo.url }}">
                    </div>
                {% endif %}
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="#">Org name: {{ user.org_name }}</a>
                    </div>
                    <div class="desc">{{ user.telephone }}</div>
                    <div class="desc">{{ user.postion }}</div>
                    <div class="desc">{{ user.address }}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>


{% endblock %}