{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Organization</title>
{% endblock %}


{% block content %}
    <br><br><br>

<div style="margin:0 auto;width:85%;text-align:left" class="agileits-top">

    <div class="container">
    <h2>Networks and Forums</h2>
    Towards its vision and mission Humanitywatch joined in several national and international Networks and Forums of Civil<br>
    Society to raise voices and maximize impacts of the advocacy and campaign. Humanitywatch is the Lead role in some<br>
    of the Forum in Bangladesh including Bonojibi Odhikar Suraksha Mancho (BOSM) and Sundarbans Watch Group (SWG) while<br>
    playing important role in other Networks. The networks include:<br>

–   Bangladesh Civil Society Network for Promoting Nutrition (BCSNPN)<br>
–   Bonojibi Odhikar Suraksha Mancho (BOSM)<br>
–   Campaign for Sustainable Rural Livelihoods (CSRL)<br>
–   Climate Finance Governance Network (CFGN)<br>
–   Democratic Budget Movement (DBM)<br>
–   Equity and Justice Working Group Bangladesh (EquityBD)<br>
–   Food Security Network of Bangladesh (Khani-Bangladesh)<br>
–   Jubilee South Asia Pacific Movement on Debt and Development (JS-APMDD)<br>
–   Mangrove Action Project (MAP)<br>
–   NGO Forum on ADB<br>
–   Sundarbans Watch Group (SWG)<br>
    </div>

    <div/>

<br><br><br>
{% endblock %}

