{% extends 'index.html' %}
{% load static %}


{% block title %}
    <title>Organization</title>
{% endblock %}


{% block content %}
    <br><br><br>

<div style="margin:0 auto;width:85%;text-align:left" class="agileits-top">

    <div class="container">
    <h2>Resources</h2>
    To fulfill its mandate in right-based development, Humanitywatch published a number of Study Reports, <br>
    Experience Sharing Reports and Skill Development Materials including Books, Booklets, <br>
    Leaflets and Video Documentary to contribute to the campaign and advocacy. <br>
    To see or download the resources, please click on the links of respective document name.<br>
    Books & Booklets <br>
    1. Right to Common Water Bodies: Case Study of Dacope (English)<br>
    2.  State of Bangladesh Agriculture 2010 (Bangla)<br>
    3. Community Action Guide to the ADB, Its Policies and Projects (English)<br>
    4. Climate Induced Migration: Case Study of Cyclone Aila in the Southwest Coastal Region of Bangladesh (English)<br>
    5. Peoples Opinion on Bangladesh Climate Change Strategy and Action Plan 2009 (Bangla)<br>
    6. United Nations Declaration on the Rights of Persons Belonging to National or Ethnic, Religious and Linguistic Minorities (Translated in Bangla)<br>
    7. United Nations Declaration on the Rights of Indigenous Peoples (Translated in Bangla) <br>
    8. Bangladesh Climate Justice Day 2011 (English) <br>
    9. Agreement on Establishing the SAARC Food Bank (Translated in Bangla)  <br>

    Factsheets<br>
    1. Kacha Canal of Dacope, Khulna, Bangladesh (Bangla)<br><br>

    Presentations <br>
    1. Rural Livelihood Fair 1417 in Khulna (English)<br>
    2. Struggle for Home - Campaign for cyclone Aila Victims (English) <br><br>

    Seminar Papers <br>
    1. Climate Induced Migration in Bangladesh (English)<br>
    2. Climate Forced Migration: Related Evidences and Policy Suggestions (Bangla)<br>
    3. Climate Forced Migration: Related Evidences and Policy Suggestions (English)<br><br>
     
    Position Papers <br>
    1. The Sundarbans and the Forest People (English)<br>

    Experience Sharing
    1. Digital Campaign under Campaign for Sustainable Rural Livelihoods (Bangla)<br>
    2. Rights to Recognition and Livelihoods of Forest Peoples (Bangla)<br><br>

    Video Documents<br>
    1. UNCBD and the Sundarbans Forest People (English)<br>
    2. Struggle for Home - Experience of Aila Campaign (Bangla) <br>
    3. Agriculture Long March 2011 with PRAN (English)
    4. Tears of Bhabodaho - Peoples Voice on an ADB Project (Bangla) <br><br>

    National & International Policies<br>
    1. Bangladesh Climate Change Strategy and Action Plan (BCCSAP) 2009 (English)<br>
    2. Bangladesh Climate Change Strategy and Action Plan (BCCSAP) 2009 (Bangla) <br>
    3. Bangladesh Country Investment Plan 2011<br>
    4. Bangladesh Environment Court Act 2000 (Bangla)<br>
    5. Coastal Development Strategy 2006 (Bangla)<br>
    6. Coastal Zone Policy 2005 (Bangla)<br>
    7. Cyclone Shelter Management Policy 2011 (Bangla)<br>
    8. Draft Bangladesh Water Act 2010 (Bangla) <br>
    9. Draft Bangladesh Water Act 2010 (English) <br>
    10. Brick Kiln (Control) Act 1989 (Bangla) <br>
    11. Disaster Management Act 2012 (Bangla)<br>
    12. Environment Policy 1992 (Bangla) <br>
    13. Environment Protection Act (Amendment) 2010 (Bangla)<br>
    14. Environment Protection Act 1995 (Bangla)<br>
    15. Environment Protection Rules 1997 (Bangla)<br>
    16. Integrated Coastal Zone Management Plan (ICZMP)<br>
    17. Forest Act 1927 [Amendment 2010] (English)<br>
    18. National Adaptation Plan of Action (NAPA) 2005 (English)<br>
    19. National Agricultural Extension Policy 1996<br>
    20. National Food and Nutrition Policy 2006<br>
    21. National Food Policy Plan of Action 2008-15<br>
    22. National Health Policy 2011<br>
    23. National Seed Policy 1999<br>
    24. National Water Management Plan 2001 (English)<br>
    25. National Water Policy 1999 (Bangla)<br>
<br>
    </div>

    <div/>

<br><br><br>
{% endblock %}

