.menuall{
	margin-top: 50px;
}

.content{
	padding-left: 513px;
	padding-top: 50px;
}
.content1{
	padding-left: 446px;
	padding-top: 50px;
}

.content2{
	padding-left: 446px;
	padding-top: 47px;
}
.content3{
	
	padding-top: 27px;
}
.content4{
	
	padding-top: 27px;
}

.content5{
	
	padding-top: 77px;
}

.content6{
	
	padding-top: 57px;
}

.content7{
	
	padding-top: 42px;
	padding-bottom: 110px;
}


/*********************
start Nevigation area 
*********************/

.menu ul{
    
    margin-left: 2.3in;
}
.menu ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu ul li a{
    text-decoration: none; 
    padding: 15px 100px;
    font-size: 14pt;
    color: #606060;
    background: #00A99D;
}
.menu ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}








.menu1 ul{
    
    margin-left: 2.3in;
}
.menu1 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu1 ul li a{
    text-decoration: none; 
    padding: 15px 107px;
    font-size: 14pt;
    color: #606060;
    background: #00A99D;
}
.menu1 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}






.menu2 ul{
    
    margin-left: 2.3in;
}
.menu2 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu2 ul li a{
    text-decoration: none; 
    padding: 15px 107px;
    font-size: 14pt;
    color: #606060;
    background: #00A99D;
}
.menu2 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}






.menu3 ul{
    
    margin-left: 2.3in;
}
.menu3 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu3 ul li a{
    text-decoration: none;
	padding: 48px 107px;
	font-size: 14pt;
	color: #606060;
	background: #00A99D;
	line-height: 68px;
}
.menu3 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}





.menu4 ul{
    
    margin-left: 2.3in;
}
.menu4 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu4 ul li a{
    text-decoration: none;
	padding: 48px 65px;
	font-size: 14pt;
	color: #606060;
	background: #00A99D;
	line-height: 68px;
}
.menu4 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}







.menu5 ul{
    
    margin-left: 2.3in;
}
.menu5 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu5 ul li a{
    text-decoration: none;
	padding: 28px 92px;
	font-size: 14pt;
	color: #606060;
	background: #00A99D;
	line-height: 68px;
}
.menu5 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}






.menu6 ul{
    
    margin-left: 2.3in;
}
.menu6 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu6 ul li a{
    text-decoration: none;
	padding: 78px 90px;
	font-size: 14pt;
	color: #606060;
	background: #00A99D;
	line-height: 157px;
}
.menu6 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}







.menu7 ul{
    
    margin-left: 2.3in;
}
.menu7 ul li{
    
    list-style: none;
    margin-top: 0.550in; 
}
.menu7 ul li a{
    text-decoration: none;
	padding: 78px 70px;
	font-size: 14pt;
	color: #606060;
	background: #00A99D;
	line-height: 157px;
}
.menu7 ul li a:hover{
    background: #00A99D;
    color: #fff;
    border-radius: 5px;
}



/*********************
End Nevigation area 
*********************/




.icon i{
	font-size: 60px;
	padding: 5px;
}

.icon{
	height: 100px;
}






